// メディアクエリmixin
$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin break($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
}

// フォント
$font-brand: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', sans-serif;
$font-helvetica: Helvetica, Arial,Montserrat,verdana, sans-serif;

// フォントカラー
$font-color1: #536A97;
$font-color2: #536A97;
$font-color3: #536A97;

// ページカラー
$page-color1: #536A97;
$page-color2: #536A97;
$page-color3: #536A97;

// ボタンカラー
$btn-color1: #536A97;
$btn-color2: #536A97;
$btn-color3: #536A97;

// ボーダーカラー
$border-color1: #536A97;
$border-color2: #536A97;
$border-color3: #536A97;
